<.flash_group flash={@flash} />
<div class="flex flex-col justify-center gap-2">
  <div class="flex justify-center bg-blue-400 rounded hover:bg-blue-200">
    <.link href="/quiz">Type Quiz</.link>
  </div>
  <div class="flex justify-center bg-blue-400 rounded hover:bg-blue-200">
    <.link href="/whois">Who is that Pokemon</.link>
  </div>
  <div class="flex justify-center bg-blue-400 rounded hover:bg-blue-200">
    <.link href="/weight_comparison">Who is heavier?</.link>
  </div>
</div>
